.cartWidgetStyle {
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.wrapper {
    position: absolute;
    top: 22px;
    right: 5px;
}

.badge {
    font-size: 83%;
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}