h1 {
    color: black;
    font-size: 2rem;
}

.header {
    width: 100%;
    /* background-color: dodgerblue; */
    background-image: linear-gradient(62deg, #c2c7c9 0%, #8e9eab 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
}

.header-navbar {
    grid-area: header;
    /* padding: .25rem 0.2rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-top: 26px;
    margin-right: 116px;
    font-size: 1.1rem;
    margin-bottom: 16px;
}

.header-link-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    width: 50%;
    color: black;
    text-decoration: none;
}

.logoStyle {
    max-width: 75%;
    margin-left: 3px;
}