h1 {
    color: black;
}

.header {
    width: 100%;
    /* background-color: dodgerblue; */
    background-image: linear-gradient(62deg, #c2c7c9 0%, #8e9eab 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-navbar {
    grid-area: header;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 1.4rem;
}

.header-link-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: auto;
    width: 50%;
    color: black;
    text-decoration: none;
}