* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorGrid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header header" "mainGrid mainGrid ads" "footer footer footer";
}

.mainPersonal {
    grid-area: mainGrid;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-between;
    align-items: center;
}